# Distribution Estimation

###### Here, the results of the different types of distributions used are analyzed and compared.

##### Considered Distributions:


###### <ul> - [Weibull Minimun Extreme Value](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.weibull_min.html)
###### <ul> - [Gamma](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.gamma.html)
###### <ul> - [Lognormal](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.lognorm.html)
###### <ul> - [Exponential](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.expon.html)
###### <ul> - [Normal](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html)
---

#### Loading Packages and Database

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
# import fast_dummies
from sklearn.preprocessing import OneHotEncoder
from scipy import stats
from scipy.stats import triang
import os
import sys
from pathlib import Path

In [3]:
# Adicionar o diretório 'modules_py' ao sys.path
modules_path = Path("modules_py").resolve()
sys.path.append(str(modules_path))

# Importar os módulos
import bib
from data_cleaning import DataCleaning

# Carregar os dados e realizar limpeza
try:
    # Executar a função principal de limpeza de dados
    dummies_frequentes = DataCleaning()
    print("Dados processados com sucesso!")
    
    # Exibir os primeiros registros do resultado
    display(dummies_frequentes)

# Mostrar o erro caso não execute
except Exception as e:
    print(f"Ocorreu um erro: {e}")

Dados processados com sucesso!

,HorasUnit,Qtd,Poder.Z,Poder.Lin,Depart_MONTAGEM,Depart_SOLDA,Depart_TRACAGEM,Depart_USINAGEM,Prod.Nome_CILINDRO,Prod.Nome_CND,...,Item.Cod_2901.0,Item.Cod_5242.0,Item.Cod_5244.0,Item.Cod_5245.0,Item.Cod_7200.0,Item.Cod_7248.0,Item.Cod_7249.0,Item.Cod_7252.0,Item.Cod_7253.0,Item.Cod_8136.0
0,4030.0,1.0,0.0,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,66.0,1.0,0.0,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2970.0,1.0,0.0,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,13513.5,2.0,156.0,66.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,48.0,1.0,59.0,46.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,19023.0,1.0,0.0,NaN,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2434,23736.0,1.0,0.0,NaN,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2435,25853.0,1.0,0.0,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2436,34050.0,1.0,0.0,NaN,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2437,44232.0,1.0,0.0,NaN,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False